 * {
  box-sizing: border-box; /* accounts for width after padding  */
}

html{
  width: 100%;
  height: 100%;
}

body{
  position: relative;
  margin: 0; /*Gets rid of the margin up top preventing the header from reaching the top of the screen*/
  height: 100%;
}
/*
Container for the header
Makerelative to adjust contents inside header
*/
.header{
  z-index: 100;
  height: 15vh;
  position:relative;
  background-color: black;
}
/*Container for logo, need it to make logo */
.header__logo-box{
  padding-top: .5%;
  padding-left:1.5%;
  position: absolute;
  width:100%;
  height: auto;
}
/*The logo*/
.header__logo{
  height: 100px;
  width: 100px;
}
/*The container for the text in the header*/
.header__text-box{
  width:100%;
  height:auto;
  position: absolute;
  
}
/*The actual text*/
.header__text{
  color: white;
  text-align: center;
}
/*Container for buttons*/
.button-container{
  text-align: right;
  padding-right:1%;
}
/*Still need to style individual buttons inside the header*/

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: orange;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px; /* adds border space for collapsible content */
  background-color: blue;

  /* hides content when collapsed */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; /* animation */
}
/*Creates the background*/
.event-column-background{
  height: 85vh;
  background-image: linear-gradient(
    to right,
  rgba(226, 241, 241, 0.45),
  rgba(160, 245, 234, 0.637)),
   url(https://images.pexels.com/photos/1340504/pexels-photo-1340504.jpeg?cs=srgb&dl=man-standing-on-stage-1340504.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.event-column {
    max-width:  900px; /* sets the maximum width for each event */
    margin:   0 auto; /* centers event column */
    position: abs;
}

.event {
  list-style: none; /* remove bullet */
  padding-top: 10px;
}

